@import "tailwindcss";


@theme {

    /* Colores de F1SinGuion */

    --color-brand-red: #E10600;
    --color-brand-white: #F2F2F2;
    --color-brand-silver: #BFC3C6;
    --color-brand-black: #0B0B0B;
    --color-brand-dark-red: #8B0000;
    --color-brand-glow: #FF4C00;
    --color-brand-yellow: #FFC400;

    /* Colores de los equipos de F1 */

    --color-ferrari: #E80020;
    --color-mclaren: #FF8000;
    --color-redbull: #3671C6;
    --color-mercedes: #27F4D2;
    --color-astonmartin: #225941;
    --color-alpine: #0093CC;
    --color-williams: #64C4FF;
    --color-rb: #6692FF;
    --color-haas: #B6BABD;
    --color-audi: #CC0000;
    --color-cadillac: #F1B32D;
}


:root {
    /* colores de F1SinGuion */
    --color-brand-red: #E10600;
    --color-brand-white: #F2F2F2;
    --color-brand-silver: #BFC3C6;
    --color-brand-black: #0B0B0B;
    --color-brand-dark-red: #8B0000;
    --color-brand-glow: #FF4C00;
    --color-brand-yellow: #FFC400;

    /* Colores de los equipos de F1 */
    --color-ferrari: #E80020;
    --color-mclaren: #FF8000;
    --color-redbull: #3671C6;
    --color-mercedes: #27F4D2;
    --color-astonmartin: #225941;
    --color-alpine: #0093CC;
    --color-williams: #64C4FF;
    --color-rb: #6692FF;
    --color-haas: #B6BABD;
    --color-audi: #CC0000;
    --color-cadillac: #F1B32D;
}
