---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="F1 Live - Inicio">
  <!-- Contenido de la página de inicio -->
  <div class="min-h-screen flex flex-col items-center justify-center bg-brand-black text-brand-white font-sans p-8">
    <h1 class="text-5xl font-black italic uppercase mb-6">
      Bienvenido a F1SinGuion
    </h1>
    <p class="text-lg mb-8">
      Sigue las últimas noticias y actualizaciones en vivo de la Fórmula 1.
    </p>
    <Button text="Ver Panel en Vivo" href="/@live" />
  </div>
</Layout>
